.red{
    color: red;
}
.thick{
   font-size:20px;
}
.green{
   color:green;
}

/*
   COLORS
   Background blue: #0D1B2A
   Menu bar gray: #1B263B
   Blue3: #415A77
   Blue4: #778DA9
   White: #E0E1DD
*/



body{
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #0D1B2A;
}

.top-container {
   width: 50%;
   min-width: 500px;
   margin: 10px auto;
}

@media only screen and (max-width:700px) {
   .top-container{
      width:90%;
      height:100px;
   }
}

.top-bar {
   position: relative;
   background-color:#1B263B;
   padding:10px;
   display:flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 10px;
}
 

.left {
   z-index: 1;
}

.center {
   position:absolute;
   left: 50%;
   transform: translateX(-50%);
}

.right{
   z-index: 1;
}

.github-logo{
   height:19px;
   width:auto;
   display: block;
   position:absolute;
   top:0;
   left:0;
   transition: opacity 0.2s ease;
}

.logo-wrapper{
   position:relative;
   width:19px;
   height:19px;
}

.logo-hover{
   opacity:0;
   transition: opacity 0.2s ease;
}

.home-link {
   display: inline-flex;
   align-items: center;
   gap: 5px;
   text-decoration: none;
   color: #E0E1DD;
   background-color: #415A77;
   padding: 5px 10px;
   border-radius: 5px;
   transition: all 0.2s ease;
   position:relative;
}

.home-link:hover {
   background-color: #ccc;
   color:black
}

.home-link:hover .logo-hover{
   opacity:1;
}

.home-link:hover .logo-default{
   opacity:0;
}

:root {
   --top-outline-size: 0px;  
   --top-outline-color: rgb(243, 209, 145);
}

.center h1 {
   margin:10px 5px;
   color:#E0E1DD;
   /*text-shadow: 
      calc(-1*var(--top-outline-size)) calc(-1*var(--top-outline-size)) 0 var(--top-outline-color),
      var(--top-outline-size) calc(-1*var(--top-outline-size)) 0 var(--top-outline-color),
      calc(-1*var(--top-outline-size)) var(--top-outline-size) 0 var(--top-outline-color),
      var(--top-outline-size) var(--top-outline-size) 0 var(--top-outline-color);
   */
}

.column-container{
   display:grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   width: 80%;
   margin: 100px auto;
}

.column-box{
   min-width: 100px;
   height: 300px;
   background-color: #415A77;
   border-radius: 10px;
   border: 2px solid #778DA9;
   padding: 15px;
   box-sizing: border-box;
   color:#E0E1DD;
}

.column-box h3{
   margin-top: 0;
}

.column-box p{
   margin-bottom: 0;
}
