.red{
    color: red;
 }
 .thick{
    font-size:20px;
 }
 .green{
    color:green;
 }

 #grad {
   background-image: linear-gradient(red, yellow);
 }

 #projectGrid {
   display:grid;
   width:36%;
   grid-template-columns: 45% 45%;
   column-gap:10%;
   margin-left:32%;
   grid-auto-rows:min-content;
   row-gap:3em;
}

#bioWrap {
   width:calc( 40% + 4em);
   margin: 0 auto;
   background: linear-gradient(90deg, #E93233, #FFA131, #FFF033, #31974F, #316EFF, #8F379F);
   /* padding for the sides has to be .75em + whatever top padding is thanks to padding below in bioDiv */
   padding:.25em 1em .25em 1em;
   margin-top:1.5em;
   opacity:0;
   box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.40);
   border-radius: .75em;
}

#bioDiv {
   width:calc(100% - 0.5em);
   display:grid;
   grid-template-columns: 20% 75%;
   border-radius:.5em;
   column-gap:5%;
   margin-left:-.75em;
   padding:1.5em 1em 1.5em 1em;
   background-color: #1e1e1e;
   justify-content: center;
   align-items: center;
}


.projGrid {
   width:65%;
   margin:auto;
   display: grid;
   grid-template-columns: calc(50% - 1em) calc(50% - 1em);
   row-gap: 2em;
   column-gap: 2em;
}

.projDiv {
   aspect-ratio: 16 / 9;   
   width:100%;
   background: linear-gradient(red,yellow);
   border-radius:2em;
   background-size: cover;
   background-position: center;

   border-width: .5em;
   border-style: solid;
   border-image: linear-gradient(90deg, red,yellow);
}